ul
  li
    a(href='/')
      i.fa.fa-hand-lizard-o.fa-fw
      span    Home
  li
    a(href='/about')
      i.fa.fa-meh-o.fa-fw
      span    About
  li
    a(href='/faq')
      i.fa.fa-wheelchair.fa-fw
      span    Faq
  li
    a(href='/aliens')
      i.fa.fa-reddit-alien.fa-fw
      span    Show All Aliens
  li
    a(href='/aliens/new')
      i.fa.fa-plus-circle.fa-fw
      span    New Alien
