extends ../shared/template
block title
  .row
      .col-xs-5
      .col-xs-2
        h1 #{alien.name}
      .col-xs-5
block content
  .row
    .col-xs-5
    .col-xs-2
      h2
      #hello #{alien.name} is from the planet #{alien.planet}
    .col-xs-5
block theMarquee
  img(src=alien.photo)
