extends ../shared/Template
block title
  h1 FAQ

block content
  h1 Q: What is this?
  h2 A: The most amazing app of all time

  h1 Q: Who am I?
  h2 A: Some jerk

  h1 Q: What is the meaning of life?
  h2 A: chili fries.  That is all.
